<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
	<link rel='stylesheet' href='stylesheets/font.css'  type='text/css'>
	<link rel="stylesheet" href="stylesheets/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="stylesheets/style.css"> <!-- Resource style -->
	<script src="javascripts/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>HOME</title>
</head>
<body>
<header class = "heading">

	<h1 class = "title">HOUSE FURNITURE<h1>
</header>


<!-- Side navigation bar -->
	<nav class="cd-stretchy-nav">
		<a class="cd-nav-trigger" href="#">
			Menu
			<span aria-hidden="true"></span>
		</a>

		<ul>
			<li><a href="../" class="active"><span>HOME</span><!-- <i class="fa fa-home" aria-hidden="true"> --></i></a></li>
			<li><a href="../store"><span>STORE</span></a></li>
			<li><a href="../shoppingcart"><span>SHOPPING CART</span></a></li>
			<li><a href="#"><span>CONTACT</span></a></li>
		</ul>

		<span aria-hidden="true" class="stretchy-nav-bg"></span>
	</nav>
<!-- Side navigation bar end -->

	<main class="cd-main-content">

		<!-- main content here -->
	
	</main>

	
	<script src="javascripts/jquery-2.1.4.js"></script>
	<script src="javascripts/main.js"></script> <!-- Resource jQuery -->
</body>
</html>