html
 .eachItem{
 	float: left;
 	width: 30%;
 	padding: 30px 10px 70px 125px;
 }
 .namePrice{
 	color:black;
 	text-align: center;
 }
 .productName{
 	font-size: 30px;
 	color: black;
 	margin-top: 3px;
 	margin-bottom: 10px;
 }
.productName:hover{
	color: #b3b3b3;
}
 .productPrice{
 	margin-top: 3px;
 	margin-bottom: 3px;
 }
 .addToCart{
 	color: black;
 }