html
 .eachItem{
 	float: left;
 	width: 30%;
 	padding: 20px 50px;
 	border-bottom:1px solid #404040;
 }
 .namePrice{
 	color:black;
 	text-align: center;
 }
 .productName{
 	font-size: 30px;
 	color: black;
 	margin-top: 3px;
 	margin-bottom: 10px;
 }
.productName:hover{
	color: #b3b3b3;
}
 .productPrice{
 	margin-top: 3px;
 	margin-bottom: 3px;
 }
 .addToCart{
 	color: black;
 }
 .page-container{
 	left: 10%;
 	position: absolute;
 	top: 20%;
 }